@media (max-width: 1200px) {
    .promo {
        background-position-x: 32%;
    }
    .hamburger{
        display: none;
    }
}


@media (max-width: 768px) {
    .promo {
        padding-top: 25px;

        &__text {

            &-title {
                font-size: 33px;
                line-height: 34px;
            }
        }
    }
    .hamburger{
        display: block;
    }
}


@media (max-width: 576px) {
    .container {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .promo {
        background: url("../img/main_bg-575.png") 50%/cover no-repeat;
        background-position-y: 30%;
        min-height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-top: 35px;

        &__wrapper {
            position: relative;
            //height: calc(100vh (- 70px);
        }

        &__text {
            margin-top: 80px;

            &-title {
                display: block;
                font-size: 32px;
                line-height: 34px;
                width: 83vw;
            }

            &-subtitle {
                width: 340px;
                margin-top: 65px;
                font-size: 28px;
                line-height: 30px;
            }

            &-description {
                margin-top: 20px;
                font-size: 16px;
                line-height: 20px;
            }
        }

        &__btn {
            position: absolute;
            bottom: 60px;
            right: 50%;
            transform: translateX(50%);
            width: 350px;
            height: 42px;
            padding: 10px;

            font-size: 15px;
            line-height: 18px;

            &:hover {
                //background: #6F39A4;
                //border: 2px solid #6F39A4;
                border: none;
            }
        }
    }
}

@media (max-width: 424px) {

    .promo {
        background: url("../img/main_bg-425.png") 50%/cover no-repeat;
        background-position-y: 30%;


        &__text {
            margin-top: 50px;

            &-title {
                font-size: 28px;
                line-height: 30px;
            }

            &-subtitle {
                width: 280px;
                margin-top: 60px;
                font-size: 22px;
                line-height: 24px;
            }

            &-description {
                font-size: 14px;
                line-height: 16px;
            }
        }

        &__btn {
            width: 320px;
        }
    }

}

@media (max-width: 350px) {
    .promo {


        &__text {
            margin-top: 35px;

            &-title {
                font-size: 22px;
                line-height: 25px;
            }

            &-subtitle {
                width: 260px;
                font-size: 16px;
                line-height: 18px;
                margin-top: 26px;
            }

            &-description {
                font-size: 11px;
                line-height: 16px;
                margin-top: 10px;
            }
        }

        &__btn {
            width: 280px;
        }

    }
    .hamburger{
        width: 25px;
        &__box{
            width: 25px;
            height: 3px;
        }
    }

}
