@media (max-width: 1200px) {
    .promo {
        background-position-x: 32%;
    }
    .projects {
        .slider__item {
            grid-template-rows: auto;
        }

        .slider__item-btns {
            margin-top: 20px;
            flex-direction: column;

            a {
                width: 210px;
            }
        }

        .slider__prev {
            left: 25px;
        }

        .slider__next {
            right: 25px;
        }

        .slider__item-btns {
            position: unset;
        }
    }

}

@media (max-width: 991px) {
    .aboutUs {
        min-height: 655px;
    }
    .projects {
        .row {
            position: relative;
        }

        .slider__indicators {
            padding: 0;
            margin-top: 0;
            position: absolute;
            top: 340px;
            gap: 25px;
            justify-content: center;
            transform: translateX(-9%);

        }

        .slider__slides {
            transition: 1s all;
        }

        .slider__item {
            position: relative;
            grid-template-columns: 1fr;
            grid-template-rows: 250px 1fr;

            &-desc {
                display: block;
            }

            &-additional {
                transition: 2s all;
                max-height: 0;
                margin: 0;
                overflow: hidden;

                .slider__item-text {
                    margin: 0;
                }

                .slider__item-app {
                    margin: 0;
                }

                &_active {
                    .slider__item-text {
                        margin-top: 10px;
                    }

                    .slider__item-app {
                        margin-top: 10px;
                    }
                }
            }

            &-title {
                margin-top: 55px;
            }

            &-subtitle {
                margin-top: 15px;
                font-size: 20px;
            }

            &-more {
                opacity: 1;
                display: inline-block;
                cursor: pointer;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $white-color;
                margin-top: 35px;
                overflow: hidden;
                transition: 0.4s;
                background: transparent;


                //width: 195px;
                //height: 42px;
                width: 170px;
                height: 38px;
                text-align: center;
                padding: 2px 15px;
                border: 2px solid #EEF3F3;
                filter: drop-shadow(0px 4px 4px rgba(25, 29, 65, 0.25));
                text-decoration: none;

                &_active {
                    margin-top: 0;
                    height: 0;
                    font-weight: 0;
                    border: none;
                    visibility: hidden;
                }

                &:hover {
                    color: $green-color;
                    border-color: $green-color;
                }
            }

            &-btns {
                margin-top: 0;
                max-height: 0;
                overflow: hidden;
                flex-direction: row;

                a {
                    width: 210px;
                }

                &_active {
                    margin-top: 30px;
                }
            }
        }

        .slider__prev {
            top: 170px;
            left: 0;
        }

        .slider__next {
            top: 170px;
            right: 0;
        }
    }
}


@media (max-width: 767px) {
    .promo {
        padding-top: 25px;

        &__text {

            &-title {
                font-size: 33px;
                line-height: 34px;
            }
        }
    }
    .hamburger {
        display: block;
        right: 12px;
    }

    .aboutUs {
        padding: 0;
        min-height: 400px;

        &__title{
            font-size: 28px;
        }

        &__content-wrapper{
            padding: 100px 0;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            background-color: rgba(30, 30, 30, .9);
        }

        &__description {
            &_additional {
                overflow: hidden;
            }
        }
    }

    .projects {
        padding-top: 65px;
        &__slider{
            margin-top: 45px;
        }
        &__title{
            font-size: 28px;
        }
        .slider__indicators {
            transform: translateX(4%);
        }

        .slider__item {

        }

        .slider__prev {
            width: 20px;
            padding: 0;
            left: -30px;
        }

        .slider__next {
            width: 20px;
            padding: 0;
            right: -30px;
        }
    }
}


@media (max-width: 630px) {
    .projects {
        .slider__prev {
            left: -5px;
        }

        .slider__next {
            right: -5px;
        }
    }

}

@media (max-width: 576px) {
    .container {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    .promo {
        background: url("../img/main_bg-575.png") 50%/cover no-repeat;
        background-position-y: 30%;
        min-height: 100vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-top: 45px;

        &__wrapper {
            position: relative;
            //height: calc(100vh (- 70px);
        }

        &__text {
            margin-top: 80px;

            &-title {
                display: block;
                font-size: 32px;
                line-height: 34px;
                width: 83vw;
            }

            &-subtitle {
                width: 340px;
                margin-top: 65px;
                font-size: 28px;
                line-height: 30px;
            }

            &-description {
                margin-top: 20px;
                font-size: 16px;
                line-height: 20px;
            }
        }

        &__btn {
            position: absolute;
            bottom: 60px;
            right: 50%;
            transform: translateX(50%);
            width: 350px;
            height: 42px;
            padding: 10px;

            font-size: 15px;
            line-height: 18px;

            &:hover {
                //background: #6F39A4;
                //border: 2px solid #6F39A4;
                border: none;
            }
        }
    }
    .aboutUs {
        padding: 0 20px;
        min-height: 400px;

        &__content-wrapper {
            //padding: 100px 32px;
            background-color: rgba(30, 30, 30, .9);
        }
    }

    .projects {
        padding-right: 20px;
        padding-left: 20px;
        .slider__indicators{
            li{
                width: 12px;
                height: 12px;
            }
        }
        .slider__item-subtitle{
            font-size: 18px;
        }
        .slider__prev {
            display: none;
        }

        .slider__next {
            display: none;
        }
        .slider__item-btns{

            a{
                vertical-align: center;
                padding: 10px 15px;
                width: 165px;
                height: 45px;
                font-size: 15px;
            }
            .slider__item-btn{
                padding: 10px 15px;
                width: 165px;
                height: 45px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 424px) {

    .promo {
        background: url("../img/main_bg-425.png") 50%/cover no-repeat;
        background-position-y: 30%;
        padding-top: 35px;


        &__text {
            margin-top: 50px;

            &-title {
                font-size: 28px;
                line-height: 30px;
            }

            &-subtitle {
                width: 280px;
                margin-top: 60px;
                font-size: 22px;
                line-height: 24px;
            }

            &-description {
                font-size: 14px;
                line-height: 16px;
            }
        }

        &__btn {
            width: 320px;
        }
    }
    .aboutUs{
        &__title{
            font-size: 24px;
        }
    }

    .projects {
        &__title{
            font-size: 24px;
        }
        .slider__item-more{
            margin-top: 30px;
        }

        .slider__item-btns{
            a{
                vertical-align: center;
                padding: 10px 15px;
                width: 140px;
                font-size: 14px;
            }
            .slider__item-btn{
                padding: 10px 10px;
                width: 140px;
                font-size: 14px;
            }
        }
    }

}

@media (max-width: 350px) {
    .promo {
        padding-top: 25px;

        &__text {
            margin-top: 35px;

            &-title {
                font-size: 22px;
                line-height: 25px;
            }

            &-subtitle {
                width: 260px;
                font-size: 16px;
                line-height: 18px;
                margin-top: 26px;
            }

            &-description {
                font-size: 11px;
                line-height: 16px;
                margin-top: 10px;
            }
        }

        &__btn {
            width: 280px;
        }

    }
    .hamburger {
        width: 25px;

        &__box {
            width: 25px;
            height: 3px;
        }
    }

    .aboutUs{
        &__title{
            font-size: 20px;
        }
        &__description{
            font-size: 14px;
        }
        &__more-information{
            font-size: 14px;
            width: 160px;
            height: 36px;
            padding-top: 5px;
            padding-bottom: 5px;
            vertical-align: middle;
        }
    }

    .projects{
        &__title{
            font-size: 20px;
        }
        .slider__item{
            &-title{
                font-size: 18px;
            }
            &-subtitle{
                font-size: 16px;
            }
            &-text{
                font-size: 14px;
            }
            &-app{
                font-size: 14px;
            }

        }
        .slider__item-btns{
            gap: 10px;

            a{

                vertical-align: center;
                padding: 10px 0px;
                width: 120px;
                font-size: 14px;
            }
            .slider__item-btn{
                padding: 10px 0px;
                width: 120px;
                font-size: 14px;
            }
        }
    }

}
