

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0;
}
.body{
    transition: 1s all;
    overflow: hidden;
}





@import "base/variables";
@import "base/mixins";
@import "blocks/promo";
@import "blocks/mobile-menu";
@import "blocks/aboutUs";
@import "blocks/projects";
@import "blocks/rest";
@import "blocks/team";
@import "blocks/preloader";
@import "blocks/contacts";
@import "blocks/loader";
@import "blocks/modal";

@import "base/media";


