.aboutUs{
    position: relative;
    min-height: 525px;
    background-color: $dark-color;

    &__content-wrapper{
        z-index: 20;
        background-color: rgba(30, 30, 30, .1);
        padding: 125px 0 130px;
    }
    &__animation-wrapper{
        background-color: rgba(30, 30, 30, 1);
    }
    &__title{
        font-weight: 700;
        font-size: 30px;
        line-height: 32px;
        text-transform: capitalize;
        color: $white-color;
    }
    &__description{
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $white-color;
        margin-top: 60px;
        span{
           &:nth-child(2){
               display: block;
               margin-top: 25px;
           }
        }
        &_additional{
            display: none;
            &_active{
                display: unset;
            }
        }
    }
    &__more-information{
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: $white-color;
        margin-top: 25px;
    }
    &__animation{
        height: 100%;
    }
}
#canvas{
    position: absolute;
    top: 0;
    left: 0;
}