.aboutUs {
    position: relative;
    min-height: 635px;
    background-color: $dark-color;
    overflow: hidden;
    padding: 125px 0 130px;

    &__content-wrapper {
        z-index: 20;
        background-color: rgba(30, 30, 30, .1);
        overflow: hidden;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 32px;
        color: $white-color;
        margin: 0;
    }

    &__description {
        transition: 2s all;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $white-color;
        margin-top: 45px;

        span {
            &:nth-child(2) {
                display: block;
                margin-top: 25px;
            }
        }

        &_additional {
            transition: 1.5s all;
        }
    }

    &__more-information {
        opacity: 1;
        display: inline-block;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $white-color;
        margin-top: 35px;
        overflow: hidden;
        transition: 0.4s;


        width: 195px;
        height: 42px;
        text-align: center;
        padding: 10px 15px;
        border: 2px solid #EEF3F3;
        filter: drop-shadow(0px 4px 4px rgba(25, 29, 65, 0.25));
        text-decoration: none;
        &_active{
            margin-top: 0;
            height: 0;
            font-weight: 0;
            border: none;
            visibility: hidden;
        }

        &:hover {
            color: $green-color;
            border-color: $green-color;
        }
    }

    &__animation {
        height: 100%;
    }

    &__arrow {
        cursor: pointer;
        margin-top: 25px;
        width: 70px;
    }
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}