.loader {
    --bgcolor: #00000033 10px, transparent 0;
    --loadercolor: #2CBF96 10px, transparent 0;
    width: 110px;
    height: 10px;
    background-image: linear-gradient(var(--bgcolor)),
    linear-gradient(var(--bgcolor)),
    linear-gradient(var(--bgcolor)),
    linear-gradient(var(--bgcolor));
    background-repeat: no-repeat;
    background-size: 10px auto;
    background-position: 10px 0, 40px 0, 70px 0, 100px 0;
    animation: loaderfill 1s linear infinite;
}

@keyframes loaderfill {
    0% {
        background-image: linear-gradient(var(--bgcolor)),
        linear-gradient(var(--bgcolor)),
        linear-gradient(var(--bgcolor)),
        linear-gradient(var(--bgcolor));
    }

    25% {
        background-image: linear-gradient(var(--loadercolor)),
        linear-gradient(var(--bgcolor)),
        linear-gradient(var(--bgcolor)),
        linear-gradient(var(--bgcolor));
    }

    50% {
        background-image: linear-gradient(var(--loadercolor)),
        linear-gradient(var(--loadercolor)),
        linear-gradient(var(--bgcolor)),
        linear-gradient(var(--bgcolor));
    }

    75% {
        background-image: linear-gradient(var(--loadercolor)),
        linear-gradient(var(--loadercolor)),
        linear-gradient(var(--loadercolor)),
        linear-gradient(var(--bgcolor));
    }

    100% {
        background-image: linear-gradient(var(--loadercolor)),
        linear-gradient(var(--loadercolor)),
        linear-gradient(var(--loadercolor)),
        linear-gradient(var(--loadercolor));
    }
}