.point {
    cursor: pointer;
    position: absolute;
    transition: .5s all;
    transform: translateY(0);
    &:hover{
        transform: scale(1.2);
    }

    &_active {
        transform: translateY(-15px);
    }

    &_desc {
        text-align: center;
        position: absolute;
        visibility: hidden;
        font-size: 13px;
        transition: .5s all;
        opacity: 0;
    }

    &_desc_active {
        font-size: 13px;
        visibility: visible;
        opacity: 1;
        color: $white-color;
    }

}

#german {
    top: 34.8%;
    right: 51.4%;
}
#german + .point_desc {
    top: 36.8%;
    right: 49.3%;
}

#poland {
    top: 32.8%;
    right: 48.29%;
}
#poland + .point_desc {
    top: 33.8%;
    right: 46.1%;
}

#ukraine {
    top: 30.8%;
    right: 44.9%;
}
#ukraine + .point_desc {
    top: 32.1%;
    right: 42.9%;
}

#usa {
    top: 41.8%;
    right: 86.9%;
}
#usa + .point_desc {
    top: 43.2%;
    right: 86.1%;
}



@keyframes show {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}