.promo {
    min-height: 800px;
    background: url("../img/mainBg.png") 50%/cover no-repeat;
    padding: 45px 0 110px 0;
    position: relative;

    .row{
        position: relative;
    }


    &__menu {
        align-self: center;

        &-list {
            margin: 0;
            display: flex;
            justify-content: space-between;
            list-style: none;
        }

        &-item {
            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $white-color;
                text-decoration: none;
                transition: color 0.3s;
                &:hover {
                    color: $green-color;
                }
            }
        }
    }

    &__text {
        margin-top: 110px;

        &-title {
            margin: 0;
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
            text-transform: capitalize;
            color: $white-color;
        }

        &-subtitle {
            margin-top: 37px;
            font-weight: 500;
            font-size: 30px;
            line-height: 32px;
            color: $white-color;
        }

        &-description {
            margin-top: 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: $white-color;
        }
    }

    &__btn {
        margin-top: 65px;
        padding: 16px 36px;

        width: 270px;
        height: 56px;

        text-align: center;
        background: #6F39A4;
        border: 2px solid #6F39A4;
        box-shadow: 0px 4px 4px rgba(25, 29, 65, 0.25);

        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: $white-color;

        transition: 0.5s all;

        &:hover{
            background: #8B4EC8;
            border: 2px solid #8B4EC8;
        }
        &:active{
            background: #8B4EC8;
            border: none;
            box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }

}



.en {
    font-weight: 400;
    font-size: 18px;
    color: $white-color;

}

.ua {
    font-weight: 400;
    font-size: 18px;
    color: $white-color;
    cursor: pointer;
}

.language_active {
    color: $green-color;
    cursor: default;
}

.hamburger {
    display: none;
    right: 0;
    top: 0;
    position: absolute;
    width: 40px;
    height: 24px;
    padding: 0;



    &__box{
        position: relative;
        width: 100%;
        height: 4px;
        background: $white-color;

        &:before{
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            width: 100%;
            height: 100%;
            background: $white-color;
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            bottom: -20px;
            width: 100%;
            height: 100%;
            background: $white-color;
        }
    }

    &_hidden{
       visibility: hidden;
    }
}
.languages{
    display: flex;
    gap: 10px;


}
