* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
}

.promo {
  min-height: 800px;
  background: url("../img/mainBg.png") 50%/cover no-repeat;
  padding: 45px 0 110px 0;
  position: relative;
}
.promo__menu {
  align-self: center;
}
.promo__menu-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.promo__menu-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
}
.promo__menu-item a:hover {
  text-decoration: underline;
}
.promo__menu-item_languages {
  display: flex;
  gap: 10px;
}
.promo__text {
  margin-top: 110px;
}
.promo__text-title {
  margin: 0;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.promo__text-subtitle {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.promo__text-description {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}
.promo__btn {
  margin-top: 65px;
  padding: 16px 36px;
  width: 270px;
  height: 56px;
  text-align: center;
  background: #6F39A4;
  border: 2px solid #6F39A4;
  box-shadow: 0px 4px 4px rgba(25, 29, 65, 0.25);
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  transition: 0.5s all;
}
.promo__btn:hover {
  background: #8B4EC8;
  border: 2px solid #8B4EC8;
}
.promo__btn:active {
  background: #8B4EC8;
  border: none;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.promo__hamburger {
  position: absolute;
  right: 20px;
  top: 11px;
}

.hamburger-inner {
  background: #FFFFFF;
}
.hamburger-inner:before {
  background: #FFFFFF;
}
.hamburger-inner:after {
  background: #FFFFFF;
}

.en {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.ua {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.language_active {
  color: #2CBF96;
  cursor: default;
}

@media (max-width: 1200px) {
  .promo {
    background-position-x: 32%;
  }
}
@media (max-width: 768px) {
  .promo {
    padding-top: 25px;
  }
  .promo__text-title {
    font-size: 33px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .promo {
    background: url("../img/mainBg-s.png") 50%/cover no-repeat;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
  }
  .promo__text {
    margin-top: 35px;
  }
  .promo__text-title {
    display: block;
    width: 250px;
    font-size: 20px;
    line-height: 25px;
  }
  .promo__text-subtitle {
    width: 280px;
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }
  .promo__text-description {
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .promo__btn {
    margin: 0 auto;
    margin-top: 225px;
    width: 83vw;
    height: 42px;
    padding: 10px;
    font-size: 15px;
    line-height: 18px;
  }
  .promo__btn:hover {
    background: #6F39A4;
    border: 2px solid #6F39A4;
  }
  .promo__hamburger {
    right: 8px;
  }
  .promo .hamburger-box {
    width: 20px;
  }
  .promo .hamburger-inner {
    width: 25px;
    border-radius: 0;
    height: 2px;
  }
  .promo .hamburger-inner:before {
    width: 25px;
    border-radius: 0;
    height: 2px;
  }
  .promo .hamburger-inner:after {
    border-radius: 0;
    width: 25px;
    height: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
